.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  margin-top: 3rem;
  text-align: center;
}
.contact-me-info p {
  margin-top: 1rem;
}
.contact-info div {
  display: flex;
  align-items: center;
  margin: 2rem;
}
.contact-info div p {
  margin: 1rem;
}
