.experience {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    background-color: darkgrey;
    padding-bottom: 5rem;
  }
  .experience-text {
    width: 50%;
    font-family: "Libre Franklin", sans-serif;
    text-align: center;
  }
  .experience img {
    border: 2px solid black;
    border-radius: 10%;
  }

  .experience-grid h2{
    font-family: 'Lato', sans-serif;
  }

  .experience-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4rem;
    margin-top: 3rem;
  }
  
  /*Extra small devices (phones, 600px and down)*/
  @media only screen and (max-width: 768px) {
    .experience img {
      display: none;
    }
    .experience-grid {
      margin-top: 2rem;
    }
    .experience-grid h2{
      font-size: 1rem;
      margin: auto;
    }
    .experience-text {
      width:80%;
    }
  }
  
  /*
  Small devices (portrait tablets and large phones, 600px and up)
  @media only screen and (min-width: 600px) {...}
  
  Medium devices (landscape tablets, 768px and up)
  @media only screen and (min-width: 768px) {...}
  
  Large devices (laptops/desktops, 992px and up)
  @media only screen and (min-width: 992px) {...}
  
  Extra large devices (large laptops and desktops, 1200px and up)
  @media only screen and (min-width: 1200px) {...}
  */
  