.experience {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
  }
  .experience-text {
    width: 50%;
    font-family: "Libre Franklin", sans-serif;
    line-height: 2rem;
    text-align: center;
  }
  .experience img {
    border: 2px solid black;
    border-radius: 10%;
  }
  
  .experience-text p {
    margin-top: 1rem;
  }
  
  /*Extra small devices (phones, 600px and down)*/
  @media only screen and (max-width: 600px) {
    .experience {
      flex-direction: column;
      align-items: center;
    }
    .experience-text {
      width: 90%;
      margin-bottom: 1rem;
    }
    .experience img {
      height: 50%;
      width: 50%;
    }
  }
  
  /*
  Small devices (portrait tablets and large phones, 600px and up)
  @media only screen and (min-width: 600px) {...}
  
  Medium devices (landscape tablets, 768px and up)
  @media only screen and (min-width: 768px) {...}
  
  Large devices (laptops/desktops, 992px and up)
  @media only screen and (min-width: 992px) {...}
  
  Extra large devices (large laptops and desktops, 1200px and up)
  @media only screen and (min-width: 1200px) {...}
  */
  