.blog-content-container {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.blog-content-container p {
  width: 50%;
  margin-top: 2rem;
}

.blog-content-container p a {
  color: black;
}

/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 900px) {
  .blog-content-container p {
    width: 90%;
    margin-top: 2rem;
  }
}
