.blogs-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/images/blogshero.jpg");
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
}
.blogs-content > h1 {
  font-family: "Handlee", cursive;
  text-align: center;
}

.blogs-content > p {
  font-family: "Handlee", cursive;
  text-align: center;
}

.blogs-intro {
  font-family: "Libre Franklin", sans-serif;
  margin-top: 1rem;
  text-align: center;
  width: 75%;
  margin: auto;
  padding: 1rem;
}
.blogs-intro p {
  margin-top: 1rem;
  line-height: 2rem;
}

.blog-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-content: center;
}

.blog-containers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 2rem;
}
.blog-captions {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  margin-top: 1rem;
}
.blog-image {
  border: 2px solid black;
  border-radius: 5%;
  height: 60vh;
  width: 60vh;
}

.blog-image:hover {
  opacity: 0.8;
}

/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
  .blogs-intro {
    width: 90%;
  }
  .blog-image {
    height: 30vh;
    width: 30vh;
  }
  .blog-captions {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 600px) {
  .blog-image {
    height: 35vh;
    width: 35vh;
  }
  .blog-captions {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .blog-image {
    height: 40vh;
    width: 40vh;
  }
  .blog-captions {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .blog-image {
    height: 50vh;
    width: 50vh;
  }
  .blog-captions {
    font-size: 1rem;
  }
}
